## 1. Create a tuple with different data and create an empty tuple using built-in function.

In [2]:
tup = (True,1,'Hllo',23.67)
t = tuple()
print(tup,t)

(True, 1, 'Hllo', 23.67) ()

## 2. Print the 3rd element from beginning and 4th element from end of a tuple.

In [4]:
tup = (True,1,'Hello',23.67)
print(tup[2])
print(tup[-4])

Hello
True

## 3. Count the number of items present in a tuple and then add two new items into it (one item using concatenation operator and another item using built-in function).

In [5]:
tup1 = (True,1,'Hello',23.67)
tup2 = (False,)
print(tup1+tup2)

(True, 1, 'Hello', 23.67, False, 2, 'world', 24.67)

## 4. Find the number of occurrences for any repeated item present in a tuple.

In [58]:
freq = {}
tup = (1,1,2,1,'Hello',23.67)
for t in tup:
    freq[t] = freq.get(t,0)+1
for key,val in freq.items():
    if val >= 2:
        print(key)

1
{1: 3, 2: 1, 'Hello': 1, 23.67: 1}

## 5. Display the elements present in a tuple which are at the even position.

In [12]:
tup = (True,1,2,1,'Hello',23.67)
for i in range(len(tup)):
    if i%2 == 0:
        print(tup[i])

True
2
Hello

## 6. Remove the elements of a tuple which are present in the odd index position.

In [11]:
tup = (True,1,2,1,'Hello',23.67)
for i in range(len(tup)):
    if i%2 != 0:
        print(tup[i])

1
1
23.67

## 7. Remove the odd number elements from a tuple.

In [29]:
tup = (True,1,2,1,'Hello',23.67)
l = list(tup)
for i in range(len(tup)):
    if i%2 != 0:
        l.remove(tup[i])
print(tuple(l))

(2, 1, 'Hello')

## 8. Reverse the elements of a tuple by using and without using a built-in function.

In [23]:
tup = (True,1,2,1,'Hello',23.67)
l1 = list(tup)
#with using built-in function
l.reverse()
print(tuple(l))
#without using built-in function
l2 = list(tup)
for i in range(len(l2)//2):
    l2[i],l2[len(l)-1-i] = l2[len(l)-1-i],l2[i]

print(tuple(l2))

(23.67, 'Hello', 1, 2, 1, True)
(23.67, 'Hello', 1, 2, 1, True)

## 9. Sort the elements present in a tuple in descending order.

In [25]:
tup = (12,43,24,93,39)
l = list(tup)
l.sort(reverse=True)
print(tuple(l))

(93, 43, 39, 24, 12)

## 10. Take a tuple of mixed data types and find the square of each element.

In [33]:
tup = (True,1,2,1)
for t in tup:
    print(t**2)

1
1
4
1

## 11. Given few numbers in a tuple, return ‘True’ if the first and last numbers are same.

In [34]:
tup = (43,1,2,1,45)
print(tup[0]==tup[-1])

False

## 12. Print only those elements present in a tuple which are divisible by 5.

In [35]:
tup = (43,1,2,1,45,65)
for t in tup:
    if t%5==0:
        print(t)

45
65

## 13. Given a tuple of numbers, create another tuple such that it contains only the even numbers of the first tuple.

In [36]:
tup = (43,1,2,1,45,5,345,647,578,4325)
t = tup[:7]
print(t)

(43, 1, 2, 1, 45, 5, 345)

## 14. Display the largest number of a tuple without using the built-in function max().The user need to input the values in tuple from the keyboard.

In [45]:
tup = tuple(map(int,input("Enter the values: ").split()))
largest = float('-inf')
for t in tup:
    if t > largest:
        largest = t
        
print(largest)

Enter the values: 12 234 54 23
234

## 15. Replace the last value of the tuple with 100.Sample list: [(1, 2, 3), (4, 5, 6), (7, 8, 9)] Output: [(1, 2, 100), (4, 5, 100),(7, 8, 100)]

In [50]:
l = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
res = []
for t in l:
    temp = list(t)
    temp[-1] = 100
    res.append(tuple(temp))
print(res)

[1, 2, 100]
[4, 5, 100]
[7, 8, 100]
[(1, 2, 100), (4, 5, 100), (7, 8, 100)]

## 16. Sort a tuple by its float element. Sample data: [('item1', '12.20'), ('item2','15.10'), ('item3', '24.5')] Output: [('item3', '24.5'), ('item2', '15.10'),('item1', '12.20')]

In [54]:
l = [('item1', '12.20'), ('item2','15.10'), ('item3', '24.5')]
l.sort(key=lambda x: float(x[1]),reverse=True)
print(l)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

## 17. Count the number of elements in a tuple until an element is a list.

In [55]:
tup = (True,False,12,34,[1,2,3],43,65)
count = 0
for t in tup:
    if isinstance(t,list):
        break
    count += 1
print(count)

4

## 18. Swap the two tuples: tuple1 = (11, 22) tuple2 = (99, 88) Output: tuple1 = (99, 88) tuple2 = (11, 22)

In [56]:
tup1 = (11,22)
tup2 = (99,88)
tup1,tup2 = tup2,tup1
print(tup1,tup2)

(99, 88) (11, 22)